<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navibar">
        <div class="container">
          <%= link_to image_tag("logo.png"), root_path, id: "logo" %>
          <nav>
            <ul class="nav pull-left">
              <li><%= link_to "beginners",    '#' %></li>
              <li><%= link_to "library",    '#' %></li>
              <li><%= link_to "sign in", '#' %></li>
              <li><%= link_to "search              ", '#' %></li>
            </ul>
          </nav>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>